{block content}
<div id="banner">
	<h1 n:block=title>{$article->title}</h1>
</div>

<div id="content">
    <div class="perex">
        {$article->perex}
    </div>
    <div class="text">
        {$article->text}
    </div>
</div>
